
  
  .box {
 
  background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .container {

    padding: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .data{
    font-size: 15px;
  }
    
    .container1 {
      text-align: center;
      justify-content: center;
     
      display: flex;
      flex-wrap: nowrap;
    }