@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

.body{
  overflow-x: hidden;
}
.skillset{

  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
 
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  height: 25vh;
  background-color: #f1f1f1;
  width: 20vw;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), inset 0 -2px 6px 0 rgba(10,37,64,.35);
}

.title{
  
 
  font-family: 'Montserrat', sans-serif;

  font-size: 35px;
 
}

.container {
  margin-left: 100px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}


.data {
  font-size: 18px;
  position: relative;
  left: 0px;
  margin-top: 10px;
}


@media (max-width: 770px){
  

  .skillset{
    margin-left: -500px;
    position: absolute;
    height: 100vh;
    
    overflow-x: hidden;
    margin-left: 100px;
  }
  
}